<p id="notice"><%= notice %></p>

<p>
  <strong>File upload:</strong>
  <%= @cost_upload.file_upload_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cost_upload.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cost_upload.category %>
</p>

<p>
  <strong>Source:</strong>
  <%= @cost_upload.source %>
</p>

<p>
  <strong>Debit1:</strong>
  <%= @cost_upload.debit1 %>
</p>

<p>
  <strong>Debit2:</strong>
  <%= @cost_upload.debit2 %>
</p>

<p>
  <strong>Credit1:</strong>
  <%= @cost_upload.credit1 %>
</p>

<p>
  <strong>Credit2:</strong>
  <%= @cost_upload.credit2 %>
</p>

<p>
  <strong>Subtotal debit1:</strong>
  <%= @cost_upload.subtotal_debit1 %>
</p>

<p>
  <strong>Subtotal debit2:</strong>
  <%= @cost_upload.subtotal_debit2 %>
</p>

<p>
  <strong>Subtotal credit1:</strong>
  <%= @cost_upload.subtotal_credit1 %>
</p>

<p>
  <strong>Subtotal credit2:</strong>
  <%= @cost_upload.subtotal_credit2 %>
</p>

<p>
  <strong>Net profit1:</strong>
  <%= @cost_upload.net_profit1 %>
</p>

<p>
  <strong>Net profit2:</strong>
  <%= @cost_upload.net_profit2 %>
</p>

<p>
  <strong>Net loss1:</strong>
  <%= @cost_upload.net_loss1 %>
</p>

<p>
  <strong>Net loss2:</strong>
  <%= @cost_upload.net_loss2 %>
</p>

<p>
  <strong>Period start1:</strong>
  <%= @cost_upload.period_start1 %>
</p>

<p>
  <strong>Period start2:</strong>
  <%= @cost_upload.period_start2 %>
</p>

<p>
  <strong>Period end1:</strong>
  <%= @cost_upload.period_end1 %>
</p>

<p>
  <strong>Period end2:</strong>
  <%= @cost_upload.period_end2 %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @cost_upload.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @cost_upload.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @cost_upload.user_id %>
</p>

<%= link_to 'Edit', edit_cost_upload_path(@cost_upload) %> |
<%= link_to 'Back', cost_uploads_path %>
